/* --------------------------
          BUTTON STYLE
------------------------------ */

// IMPORT VARIABLES
@import "../abstracts/variables";
@import "../abstracts/mixin";

// INDEX BUTTON

.button {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
    transition: all .2s;
    position: relative;
  }

  &:hover {
    @include box-shadow-button($box-shadow-hover-px, $box-shadow-hover-v, $box-shadow-hover-b);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    @include box-shadow-button($box-shadow-active-px, $box-shadow-active-v, $box-shadow-active-b);
  }

  &-white {
    background-color: $color-white;
    color: #777;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    border-radius: 50px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    @include width-full-absolute;
  }

  &-animate {
    animation: moveInBottom .5s ease-in .75s;
    animation-fill-mode: backwards;
  }
}

