/* --------------------------
NOTIFICATION ON INDEX FOR EVENTS
------------------------------ */

// IMPORT VARIABLES AND MIXIN
@import "../abstracts/variables";
@import "../abstracts/mixin";

.center-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
}


.parent {
  display: inline-flex;
  flex-direction: column;
  animation: moveInBottom $animation-and-delay;
  animation-fill-mode: backwards;

  // MAIN
  @include font-size-letter-spacing-font-weight-padding-bottom(
      $font-size-main,
      $max-width-main,
      $text-transform-uppercase,
      $font-size-a-main,
      $svg-wh-main,
  );

  // XS
  @media (max-width: 575px) {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-xs,
        $max-width-xs,
        $text-transform-uppercase,
        $font-size-a-xs,
        $svg-wh-xs,
    );
  }

  // S
  @media (min-width: 576px) and (max-width: 767px) {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-s,
        $max-width-s,
        $text-transform-uppercase,
        $font-size-a-s,
        $svg-wh-s,
    );
  }

  // M
  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 50px;
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-m,
        $max-width-m,
        $text-transform-uppercase,
        $font-size-a-m,
        $svg-wh-m,
    );
  }

  // L
  @media (min-width: 992px) and (max-width: 1199px) {
    margin-top: 100px;
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-l,
        $max-width-l,
        $text-transform-uppercase,
        $font-size-a-l,
        $svg-wh-l,
    );
  }
}


