/* --------------------------
NOTIFICATION ON INDEX FOR EVENTS
------------------------------ */

// IMPORT VARIABLES AND MIXIN
@import "../abstracts/variables";
@import "../abstracts/mixin";

.center-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
}


.parent {
  display: inline-flex;
  flex-direction: column;
  animation: moveInBottom $animation-and-delay;
  animation-fill-mode: backwards;
  max-width: $max-width-main;

  // MAIN
  @include font-size-letter-spacing-font-weight-padding-bottom(
      $font-size-main,
      $text-transform-uppercase,
      $font-size-a-main,
  );

  .svg-wh {
    width: $svg-wh-main;
    height: $svg-wh-main;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }

  // XS
  @media (max-width: 575px) {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-xs,
        $text-transform-uppercase,
        $font-size-a-xs,
    );
  }

  // S
  @media (min-width: 576px) and (max-width: 767px) {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-s,
        $text-transform-uppercase,
        $font-size-a-s,
    );
  }

  // M
  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 50px;
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-m,
        $text-transform-uppercase,
        $font-size-a-m,
    );
  }

  // L
  @media (min-width: 992px) and (max-width: 1199px) {
    margin-top: 100px;
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-l,
        $text-transform-uppercase,
        $font-size-a-l,
    );
  }
}


