/* --------------------------
          BOOK
------------------------------ */

// IMPORT VARIABLES AND MIXIN
@import "../abstracts/variables";
@import "../abstracts/mixin";

// STYLE
.header-omeni {
  color: $color-white;
  height: auto;
  padding: 100px 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($hero-header-dark-green, 0.8),
      rgba($hero-header-light-green, 0.8)
  ),
  url('../../assets/media/hero/nature-relax.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}
