/* --------------------------
          PAGINATION
------------------------------ */

// IMPORT VARIABLEs
@import "../abstracts/variables";

.page-link {
  border-radius: 0 !important;
  color: black;
}

.active > .page-link {
  background-color: $hero-header-light-orange;
}
