<app-hero-breadcrumbs [hero]="heroData"></app-hero-breadcrumbs>

<div class="container">
  <div *ngIf="medijstvo">
    <div class="container">
      <div class="text-center top-bottom-padding">
        <span class="heading-primary-description-black" [innerHTML]="medijstvo['naslov']">
        </span>
        <p class="lead-description" [innerHTML]="medijstvo['podnaslov']"></p>
      </div>
    </div>
    <h2 class="text-uppercase">Kaj je medijstvo?</h2>
    <p [innerHTML]="medijstvo['medijstvo'] | formatText"></p>
    <h2 class="text-uppercase">Vzroki tavanja duš?</h2>
    <p [innerHTML]="medijstvo['tavanje_duse'] | formatText"></p>
  </div>
</div>

<therapy-more></therapy-more>
