<h2>Uredi blog</h2>
<form class="example-form" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Dogodek</mat-label>
          <input name="event" matInput formControlName="event"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Lokacija</mat-label>
          <input name="location" matInput formControlName="location"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Dolžina dogodka</mat-label>
          <input name="event_length" matInput formControlName="event_length"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Začetek dogodka</mat-label>
          <input matInput formControlName="start_date" required [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <section class="example-section">
          <mat-checkbox formControlName="show_notification" class="example-margin">
            Prikaži dogodek na začetni strani
          </mat-checkbox>
        </section>
      </td>
    </tr>
  </table>
  <mat-form-field class="example-full-width">
    <mat-label>Vsebina</mat-label>
    <textarea name="content" matInput formControlName="content" style="height: 300px"></textarea>
  </mat-form-field>
  <button mat-button type="submit">Save Changes</button>
</form>
<app-go-back></app-go-back>
