/* --------------------------
          MIXIN
------------------------------ */

// IMPORT VARIABLES
@import "../../styles/abstracts/variables";

@mixin box-shadow-button($px, $vertical-value, $blur-value) {
  transform: translateY($px);
  box-shadow: 0 $vertical-value $blur-value rgba(0, 0, 0, .2);
}

@mixin width-full-absolute {
  width: 100%;
  position: absolute;
}

@mixin font-size-letter-spacing-font-weight-padding-bottom($fs, $ts, $afs) {
  color: $color-white;
  font-size: $fs !important;
  text-transform: $ts;

  a {
    color: $color-white;
    font-size: $afs;
  }
}

@mixin font-size-letter-spacing-font-weight-padding-bottom-index-hero($fs, $ls, $fw, $pb) {
  font-size: $fs;
  letter-spacing: $ls;
  font-weight: $fw;
  padding-bottom: $pb;
}
