/* --------------------------
          VARIABLES
------------------------------ */


// ANIMATION
$animation: 1s ease-out;
$translate: translate(-50%, -50%); // center in index header
$animation-and-delay: 1s ease-in .5s;


// MAIN COLOR
$hero-header-light-orange: #FF8C00;
$hero-header-medium-orange: #F5761A;
$hero-header-dark-orange: #FF5733;


// COLORS
$color-white: #fff;
$color-black: #000;


// BUTTON: hover - active
$box-shadow-hover-px: -3px;
$box-shadow-hover-v: 10px;
$box-shadow-hover-b: 20px;

$box-shadow-active-px: -1px;
$box-shadow-active-v: 5px;
$box-shadow-active-b: 10px;


// MARGIN
$margin: 0 5px;


// TEXT
$text-decoration: none;
$text-transform-uppercase: uppercase;


// VARIABLES and MIXIN FOR INDEX NOTIFICATION @media

// PARENT from XS to L
$font-size-main: 20px;
$font-size-a-main: 1.3rem;
$svg-wh-main: 25px;
$max-width-main: 500px;

// XS
$font-size-xs: 12px;
$font-size-a-xs: 1rem;
$max-width-xs: 300px;
// S
$font-size-s: 16px;
$max-width-s: 550px;
$font-size-a-s: 1.1rem;
// M
$font-size-m: 20px;
$max-width-m: 700px;
$font-size-a-m: 1.2rem;
// L
$font-size-l: 24px;
$max-width-l: 900px;
$font-size-a-l: 1.2rem;


// VARIABLES and MIXIN FOR INDEX HERO AND @media

// MAIN from XS to L
$font-size-primary: 60px;
$letter-spacing-primary: 25px;
$font-weight-main: 400;
$padding-bottom-main: 30px;
// XS
$font-size-primary-xs: 22px;
$letter-spacing-primary-xs: 10px;
// S
$font-size-primary-s: 35px;
$letter-spacing-primary-s: 15px;
// M
$font-size-primary-m: 45px;
$letter-spacing-primary-m: 25px;
// L
$font-size-primary-l: 55px;
$letter-spacing-primary-l: 30px;

// SUB from XS to L
$font-size-sub: 20px;
$letter-spacing-sub: 10px;
$font-weight-sub-main: 700;
$padding-bottom-sub: 0;
// XS
$font-size-sub-xs: 14px;
$letter-spacing-sub-xs: 5px;
// S
$font-size-sub-s: 18px;
$letter-spacing-sub-s: 5px;
// M
$font-size-sub-m: 20px;
$letter-spacing-sub-m: 5px;
// L
$font-size-sub-l: 25px;
$letter-spacing-sub-l: 10px;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;


//VARIABLE FOR INDEX DESCRIPTION

// MAIN from XS to L
$font-size-description: 2.5rem;
$letter-spacing-description: 15px;
$font-weight-description: 400;
$padding-bottom-description: 30px;

$font-weight-description-xs-s: 700;

// XS
$font-size-description-xs: 1.5rem;
$letter-spacing-description-xs: 5px;

// S
$font-size-description-s: 1.7rem;
$letter-spacing-description-s: 10px;

// M
$font-size-description-m: 1.7rem;
$letter-spacing-description-m: 10px;

// L
$font-size-description-l: 2rem;
$letter-spacing-description-l: 10px;

// SUB from XS to L
$font-size-description: 2.5rem;
$letter-spacing-description: 15px;
$font-weight-description: 400;

$font-weight-description-xs-s: 700;

// XS
$font-size-description-xs: 1.5rem;
$letter-spacing-description-xs: 5px;

// S
$font-size-description-s: 1.7rem;
$letter-spacing-description-s: 10px;

// M
$font-size-description-m: 1.7rem;
$letter-spacing-description-m: 10px;

// L
$font-size-description-l: 2rem;
$letter-spacing-description-l: 10px;

//VARIABLE FOR BOOK

// MAIN from XS to L
$font-size-book-main: 2.5rem;
$letter-spacing-book-main: 15px;
$font-weight-book-main: 400;

$font-weight-book-main-xs-s: 700;

// XS
$font-size-book-main-xs: 1.5rem;
$letter-spacing-main-book-xs: 5px;

// S
$font-size-book-main-s: 1.6rem;
$letter-spacing-book-main-s: 10px;

// M
$font-size-book-main-m: 1.6rem;
$letter-spacing-book-main-m: 10px;

// L
$font-size-book-main-l: 2rem;
$letter-spacing-book-main-l: 10px;

// SUB from XS to L
$font-size-book-sub: 1rem;
$letter-spacing-book-sub: 5px;
$font-weight-book-sub: 400;

$font-weight-book-sub-xs-s: 700;

// XS
$font-size-book-sub-xs: 0.8rem;
$letter-spacing-book-sub-xs: 5px;

// S
$font-size-book-sub-s: 0.9rem;
$letter-spacing-book-sub-s: 5px;

// M
$font-size-book-sub-m: 0.9rem;
$letter-spacing-book-sub-m: 5px;

// L
$font-size-book-sub-l: 1rem;
$letter-spacing-book-sub-l: 5px;
