<app-hero-breadcrumbs [hero]="heroData"></app-hero-breadcrumbs>


<div class="container">
  <div class="text-center top-bottom-padding">
        <span class="heading-primary-description-black">
          Galerija
        </span>
    <p class="lead-description">
      Razdelek galerije prikazuje izbrano zbirko očarljivih slik in trenutkov, ujetih med različnimi trenutki in tudi nekaj izbranih slik iz revij,
      kjer se nahajajo moji intervjuji. Zagotavlja vizualno pripoved o transformativnih potovanjih, na katera se podajajo naše stranke, in ponuja
      vpogled v globoke in razsvetljujoče izkušnje in tudi v svet, ki je onstran.
    </p>
  </div>

  <div class="container">
    <div class="row">
      <ng-container *ngIf="imagesGallery$ | async as gallery">
        <div *ngFor="let data of gallery.images" class="col-md-4 mt-3 col-lg-6">
          <img
            [src]="_getImageByName.getImageUrl(data)"
            class="img-fluid img-thumbnail"
            alt="image"
            (click)="openModal(data)"
            style="cursor: pointer;"
          >
        </div>
      </ng-container>
    </div>

    <!-- Modal for Enlarged Image -->
    <div class="custom-modal" *ngIf="selectedImage">
      <div class="custom-modal-content">
        <span class="close-modal" (click)="closeModal()">&times;</span>
        <img [src]="_getImageByName.getImageUrl(selectedImage)" class="img-fluid" alt="enlarged image">
      </div>
    </div>
  </div>




</div>

