<app-hero-breadcrumbs [hero]="heroData"></app-hero-breadcrumbs>


<div class="container">
  <div class="text-center top-bottom-padding">
        <span class="heading-primary-description-black">
          Galerija
        </span>
    <p class="lead-description">
      Razdelek galerije prikazuje izbrano zbirko očarljivih slik in trenutkov, ujetih med različnimi trenutki in tudi nekaj izbranih slik iz revij,
      kjer se nahajajo moji intervjuji. Zagotavlja vizualno pripoved o transformativnih potovanjih, na katera se podajajo naše stranke, in ponuja
      vpogled v globoke in razsvetljujoče izkušnje in tudi v svet, ki je onstran.
    </p>
  </div>

  <mat-tab-group color="warn" mat-stretch-tabs="false" mat-align-tabs="center">
    <!-- INTERVJUJI GALERIJA -->
    <mat-tab label="Intervjuji">
      <div class="row-media p-md-3">
        <div class="column-media">
          <img src="./assets/media/gallery/dobra_karma_1.png"/>
          <img src="./assets/media/gallery/svet24_1.png"/>
          <img src="./assets/media/gallery/misterij.png"/>
          <img src="./assets/media/gallery/klepet_ob_kavi.png"/>
          <img src="./assets/media/gallery/horoskop_2.png"/>
        </div>
        <div class="column-media">
          <img src="./assets/media/gallery/klepet_ob_kavi_5.png"/>
          <img src="./assets/media/gallery/intervju_1.png"/>
          <img src="./assets/media/gallery/intervju_2.png"/>
          <img src="./assets/media/gallery/horoskop_6.png"/>
          <img src="./assets/media/gallery/dobrakarma_16.png"/>
          <img src="./assets/media/gallery/dobrakarma_11.png"/>
        </div>
      </div>
    </mat-tab>

    <!-- OSTALO GALERIJA -->
    <mat-tab label="Ostalo">
      <div class="row row-cols-1 row-cols-md-2 g-4" style="margin: 0">
        <div class="col">
          <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
                little
                bit
                longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
                little
                bit
                longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
                little
                bit
                longer.</p>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>

