<app-hero-breadcrumbs [hero]="heroData"></app-hero-breadcrumbs>


<div class="container">
  <div class="text-center top-bottom-padding">
        <span class="heading-primary-description-black">
          Galerija
        </span>
    <p class="lead-description">
      Razdelek galerije prikazuje izbrano zbirko očarljivih slik in trenutkov, ujetih med različnimi trenutki in tudi nekaj izbranih slik iz revij,
      kjer se nahajajo moji intervjuji. Zagotavlja vizualno pripoved o transformativnih potovanjih, na katera se podajajo naše stranke, in ponuja
      vpogled v globoke in razsvetljujoče izkušnje in tudi v svet, ki je onstran.
    </p>
  </div>

  <mat-tab-group color="warn" mat-stretch-tabs="false" mat-align-tabs="center">
    <!-- INTERVJUJI GALERIJA -->
    <mat-tab label="Intervjuji">
      <div class="row-media p-md-3">
        <div class="column-media">
          <img src="./assets/media/gallery/dobra_karma_1.png"/>
          <img src="./assets/media/gallery/svet24_1.png"/>
          <img src="./assets/media/gallery/misterij.png"/>
          <img src="./assets/media/gallery/klepet_ob_kavi.png"/>
          <img src="./assets/media/gallery/horoskop_2.png"/>
        </div>
        <div class="column-media">
          <img src="./assets/media/gallery/klepet_ob_kavi_5.png"/>
          <img src="./assets/media/gallery/intervju_1.png"/>
          <img src="./assets/media/gallery/intervju_2.png"/>
          <img src="./assets/media/gallery/horoskop_6.png"/>
          <img src="./assets/media/gallery/dobrakarma_16.png"/>
          <img src="./assets/media/gallery/dobrakarma_11.png"/>
        </div>
      </div>
    </mat-tab>

    <!-- OSTALO GALERIJA -->
    <mat-tab label="Ostalo">
      <div class="row-media p-md-3">
        <div class="column-media">
          <img src="./assets/media/gallery/afterlife.jpg"/>
          <img src="./assets/media/gallery/life-suffer.jpg"/>
          <img src="./assets/media/gallery/medijstvo.jpg"/>
          <img src="./assets/media/gallery/predavanje_celje.jpg"/>
          <img src="./assets/media/gallery/smoking.jpg"/>
        </div>
        <div class="column-media">
          <img src="./assets/media/gallery/svet24_3.jpg"/>
          <img src="./assets/media/gallery/zakajrodimoumremoknjiga.jpg"/>
          <img src="./assets/media/gallery/smoking.jpg"/>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>

