<div class="header-footer">
  <div class="container">
    <!-- Footer -->
    <footer class="text-center text-lg-start">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Povežite se z mano na družbenih omrežjih:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="24" height="24" viewBox="0 0 24 24"
                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
            </svg>
          </a>
          <a href="" class="me-4 text-reset">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24"
                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
              <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
              <path d="M16.5 7.5l0 .01"></path>
            </svg>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h5 class="text-uppercase fw-bold mb-4">
                Hypnosis studio Alen
              </h5>
              <p>
                V Hipnoterapevtskem studiu Alen smo specializirani za zagotavljanje transformativnih hipnoterapevtskih izkušenj.
                Izkoristite moč svoje podzavesti in dosežite svoje osebne cilje z našimi prilagojenimi sejami hipnoterapije.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4">
                Ponujam
              </h5>
              <p>
                <a routerLink="/hipnoterapija" class="text-reset">Hipnoterapija</a>
              </p>
              <p>
                <a routerLink="/samohipnoza" class="text-reset">Samohipnoza</a>
              </p>
              <p>
                <a routerLink="/medijstvo" class="text-reset">Medijstvo</a>
              </p>
              <p>
                <a routerLink="/jasnovidnost" class="text-reset">Jasnovidnost</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4">
                Zanimivosti
              </h5>
              <p>
                <a routerLink="/omeni" class="text-reset">O meni</a>
              </p>
              <p>
                <a routerLink="/blog" class="text-reset">Blog</a>
              </p>
              <p>
                <a routerLink="/dogodki" class="text-reset">Dogodki</a>
              </p>
              <p>
                <a routerLink="/kontakt" class="text-reset">Kontakt</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4">Prijava na e-novičke</h5>

              <div mat-dialog-content>
                <form [formGroup]="addingSubscriberForm" (ngSubmit)="addToNewsletter()">

                  <mat-form-field style="width: 50%" class="pe-1">
                    <mat-label>Ime</mat-label>
                    <input type="text" formControlName="name" required matInput>
                  </mat-form-field>

                  <mat-form-field style="width: 50%" class="pe-1">
                    <mat-label>Priimek</mat-label>
                    <input type="text" formControlName="surname" required matInput>
                  </mat-form-field>

                  <mat-form-field style="width: 100%" class="pe-1">
                    <mat-label>Email</mat-label>
                    <input type="text" formControlName="email" required matInput>
                  </mat-form-field>

                  <div class="d-grid gap-2 d-md-block text-center">
                    <button mat-raised-button type="submit" [disabled]="addingSubscriberForm.invalid">Prijavljam se na e-novice!
                    </button>
                  </div>

                </form>
              </div>

            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://danilojezernik.com/">danilojezernik.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
</div>
