/* --------------------------
NOTIFICATION ON INDEX FOR EVENTS
------------------------------ */
$animation: 1s ease-out;
$font-weight: 700;
$color-white: #fff;

@mixin heading-primary-main-fw-pb {
  font-weight: 700;
  padding-bottom: 30px;
}

.parent {
  color: $color-white;
  font-size: 20px !important;
  max-width: 400px;
  display: inline-flex;
  flex-direction: column;
  animation: moveInLeft $animation;

  a {
    color: $color-white;
    font-size: 1.5rem;
  }

  @media (max-width: 575px) {
    font-size: 14px !important;
    text-transform: uppercase;

  }

  @media (min-width: 576px) and (max-width: 767px) {
    .heading-primary-main {
      font-size: 35px;
      letter-spacing: 15px;
      @include heading-primary-main-fw-pb;
    }

    .heading-primary-sub {
      font-size: 18px;
      font-weight: $font-weight;
      letter-spacing: 5px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .heading-primary-main {
      font-size: 45px;
      letter-spacing: 25px;
      @include heading-primary-main-fw-pb;
    }

    .heading-primary-sub {
      font-size: 20px;
      font-weight: $font-weight;
      letter-spacing: 5px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .heading-primary-main {
      font-size: 55px;
      letter-spacing: 30px;
      @include heading-primary-main-fw-pb;
    }

    .heading-primary-sub {
      font-size: 25px;
      font-weight: $font-weight;
      letter-spacing: 10px;
    }
  }
}


