/* --------------------------
          INDEX HERO
------------------------------ */

// VARIABLES
$animation: 1s ease-out;
$translate: translate(-50%, -50%); // center in index header

// COLORS
$color-white: #fff;

// BUTTON: hover - active
$box-shadow-hover-px: -3px;
$box-shadow-hover-v: 10px;
$box-shadow-hover-b: 20px;

$box-shadow-active-px: -1px;
$box-shadow-active-v: 5px;
$box-shadow-active-b: 10px;

// MIXIN
@mixin box-shadow-button($px, $vertical-value, $blur-value) {
  transform: translateY($px);
  box-shadow: 0 $vertical-value $blur-value rgba(0, 0, 0, .2);
}

@mixin width-full-absolute {
  width: 100%;
  position: absolute;
}

// STYLE
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(255, 87, 51, 0.8), rgba(255, 140, 0, 0.8)),
  url('../assets/media/hero/nature-relax.jpg');
  position: relative;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.text-box {
  @include width-full-absolute;
  top: 40%;
  left: 50%;
  transform: $translate;
  text-align: center;

  .button:link,
  .button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
    transition: all .2s;
    position: relative;
  }

  .button:hover {
    @include box-shadow-button($box-shadow-hover-px, $box-shadow-hover-v, $box-shadow-hover-b);
  }

  .button:active {
    @include box-shadow-button($box-shadow-active-px, $box-shadow-active-v, $box-shadow-active-b);
  }

  .button-white {
    background-color: $color-white;
    color: #777;
  }

  .button::after {
    content: '';
    display: inline-block;
    height: 100%;
    border-radius: 50px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    @include width-full-absolute;
  }

  .button-white::after {
    background-color: $color-white;
  }

  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .button-animate {
    animation: moveInBottom .5s ease-in .75s;
    animation-fill-mode: backwards;
  }
}

.notification-box {
  @include width-full-absolute;
  top: 70%;
  left: 50%;
  transform: $translate;
  text-align: center;
}

.heading-primary {
  text-align: center;
  text-transform: uppercase;
  backface-visibility: hidden;
}

// VARIABLES and MIXIN for heading and @media

// MAIN from XS to L
$font-size-primary: 60px;
$letter-spacing-primary: 25px;
$font-weight-main: 400;
$padding-bottom-main: 30px;
// XS
$font-size-primary-xs: 22px;
$letter-spacing-primary-xs: 10px;
// S
$font-size-primary-s: 35px;
$letter-spacing-primary-s: 15px;
// M
$font-size-primary-m: 45px;
$letter-spacing-primary-m: 25px;
// L
$font-size-primary-l: 55px;
$letter-spacing-primary-l: 30px;

// SUB from XS to L
$font-size-sub: 20px;
$letter-spacing-sub: 10px;
$font-weight-sub-main: 700;
$padding-bottom-sub: 0;
// XS
$font-size-sub-xs: 14px;
$letter-spacing-sub-xs: 5px;
// S
$font-size-sub-s: 18px;
$letter-spacing-sub-s: 5px;
// M
$font-size-sub-m: 20px;
$letter-spacing-sub-m: 5px;
// L
$font-size-sub-l: 25px;
$letter-spacing-sub-l: 10px;

@mixin font-size-letter-spacing-font-weight-padding-bottom($fs, $ls, $fw, $pb) {
  font-size: $fs;
  letter-spacing: $ls;
  font-weight: $fw;
  padding-bottom: $pb;
}

.heading-primary-main {
  display: block;
  color: $color-white;
  animation: moveInLeft $animation;
  @include font-size-letter-spacing-font-weight-padding-bottom(
      $font-size-primary,
      $letter-spacing-primary,
      $font-weight-main,
      $padding-bottom-sub
  );
}

.heading-primary-sub {
  display: block;
  color: $color-white;
  @include font-size-letter-spacing-font-weight-padding-bottom(
      $font-size-sub,
      $letter-spacing-sub,
      $font-weight-sub-main,
      $padding-bottom-sub
  );
  animation: moveInRight $animation;
}

// XS
@media (max-width: 575px) {
  .heading-primary-main {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-primary-xs,
        $letter-spacing-primary-xs,
        $font-weight-sub-main,
        $padding-bottom-main
    );
  }

  .heading-primary-sub {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-sub-xs,
        $letter-spacing-sub-xs,
        $font-weight-sub-main,
        $padding-bottom-sub
    );
  }
}

// S
@media (min-width: 576px) and (max-width: 767px) {
  .heading-primary-main {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-primary-s,
        $letter-spacing-primary-s,
        $font-weight-sub-main,
        $padding-bottom-main
    );
  }

  .heading-primary-sub {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-sub-s,
        $letter-spacing-sub-s,
        $font-weight-sub-main,
        $padding-bottom-sub
    );
  }
}

// M
@media (min-width: 768px) and (max-width: 991px) {
  .heading-primary-main {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-primary-m,
        $letter-spacing-primary-m,
        $font-weight-sub-main,
        $padding-bottom-main
    );
  }

  .heading-primary-sub {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-sub-m,
        $letter-spacing-sub-m,
        $font-weight-sub-main,
        $padding-bottom-sub
    );
  }
}

// L
@media (min-width: 992px) and (max-width: 1199px) {
  .heading-primary-main {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-primary-l,
        $letter-spacing-primary-l,
        $font-weight-sub-main,
        $padding-bottom-main
    );
  }

  .heading-primary-sub {
    @include font-size-letter-spacing-font-weight-padding-bottom(
        $font-size-sub-l,
        $letter-spacing-sub-l,
        $font-weight-sub-main,
        $padding-bottom-sub
    );
  }
}



