/* --------------------------
      HERO ANIMATION
---------------------------- */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  80% {
    opacity: 0.5;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  80% {
    opacity: 0.5;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes blink {
  0%, 100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: none; /* or any other color for the blink effect */
  }
}

/* ANIMATED ON SCROLL */

.fadeInLeft {
  animation: fadeInFromLeft 1000ms ease-in-out;
}

.fadeInLeft1 {
  animation: fadeInFromLeft 1250ms ease-in-out;
}

.fadeInLeft2 {
  animation: fadeInFromLeft 1500ms ease-in-out;
}

.fadeInRight {
  animation: fadeInFromRight 1000ms ease-in-out;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-10%); /* Start position from left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End position, no horizontal translation */
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(10%); /* Start position from left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End position, no horizontal translation */
  }
}

