<app-hero-breadcrumbs [hero]="heroData"></app-hero-breadcrumbs>

<div class="container text-center">
  <!-- PRIKAZ O MENI -->
  <div *ngIf="omeni">
    <div class="text-center top-bottom-padding">
      <span class="heading-primary-description-black" [innerHTML]="omeni['naslov']"></span>
      <img src="./assets/media/omeni/alen_2.png" alt="Alen Marič" class="img-fluid mb-5">
      <p [innerHTML]="omeni['opis']"></p>
      <img src="./assets/media/omeni/certifikatalen.png" alt="Alen Marič" class="img-fluid mt-5">
    </div>
  </div>

</div>

<div class="container-fluid header-omeni">
  <div class="container">

    <div class="text-center top-bottom-padding">
      <span class="heading-primary-description-white">Mediji in prepoznavnost</span>
      <p class="lead-description">

        Z leti je moje delo hipnoterapevta postalo prepoznavno v različnih medijih in platformah. Predstavljen sem bil v intervjujih in člankih, kjer
        sem delil svoje strokovno znanje in vpoglede v moč hipnoterapije. Moje potovanje in dosežke so slavili v revijah, podcastih in televizijskih
        programih, kar mi je dalo priložnost, da dosežem in navdihnem širše občinstvo.

        Poleg medijskega poročanja sem bil povabljen tudi k govornikom na konferencah in dogodkih, kjer sem svoje znanje in izkušnje delil s kolegi
        praktikanti in posamezniki, ki iščejo osebno rast. V čast mi je biti priznan v industriji in lahko prispevati na področju celostnega
        zdravljenja.

        Hvaležna sem za podporo in zaupanje svojih strank ter medijev za zanimanje za delo, ki ga opravljam. Moja zaveza je, da bom še naprej
        pozitivno vplival s hipnoterapijo in delil transformativni potencial, ki ga ima za osebno opolnomočenje in duhovno rast. Skupaj krmarimo po
        kraljestvih uma in odklenimo neskončne možnosti v njem.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="timeline" *ngFor="let jaz of mediji">
    <div class="timeline__event">
      <div class="timeline__event__icon ">
        <div class="timeline__event__date">
          {{jaz['datum_vnosa'] | slovenainDate }}
        </div>
      </div>
      <div class="timeline__event__content ">
        <div class="timeline__event__title">
          {{jaz['naslov_mediji']}}
        </div>
        <div class="timeline__event__description">
          <p [innerHTML]="jaz['opis_mediji']"></p>
          <!-- Use the correct YouTube embed URL -->
          <div class="video-container" *ngIf="jaz['povezava_mediji']">
            <div class="video-wrapper">
              <iframe class="responsive-video" [src]="getYouTubeEmbedUrl(jaz['povezava_mediji'])"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


