<h1 mat-dialog-title>Add new post</h1>

<div mat-dialog-content>
    <form [formGroup]="addingPostForm" (ngSubmit)="addPost()">
        <mat-form-field style="width: 100%">
            <mat-label>Naslov</mat-label>
            <input type="text" formControlName="naslov" required matInput>
        </mat-form-field>
        <mat-form-field style="width: 100%">
            <mat-label>Podnaslov</mat-label>
            <input type="text" formControlName="podnaslov" required matInput>
        </mat-form-field>

        <mat-form-field style="width: 100%">
            <mat-label>Tag</mat-label>
            <input type="text" formControlName="tag" required matInput>
        </mat-form-field>

        <mat-form-field style="width: 100%">
            <mat-label>Vsebina</mat-label>
            <textarea type="text" formControlName="vsebina" required matInput></textarea>
        </mat-form-field>
        <button mat-button mat-dialog-close>Zapri okno</button>

        <button mat-raised-button color="warn" type="submit" [disabled]="addingPostForm.invalid">Dodaj Blog</button>
    </form>
</div>
