<app-hero-dashboard [hero]="heroData"></app-hero-dashboard>
<div class="d-flex flex-md-row flex-column p-md-5 p-2 gap-3">

  <!-- Drop zone for image - START -->
  <div class="d-flex justify-content-center" style="max-width: 400px; min-width: 300px; position: relative;">
    <label for="dropzone-file"
           class="position-sticky top-0 zindex-50 d-flex shadow-lg flex-column align-items-center justify-content-center w-100 h-100 border border-2 border-secondary border-dashed cursor-pointer bg-light">
      <div class="d-flex flex-column align-items-center justify-content-center py-3">
        <svg class="bi bi-cloud-arrow-up mb-2 text-secondary" width="32" height="32" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-4.468 8.57A3 3 0 1 0 7.5 13h6a3 3 0 0 0 0-6h-.143A5.53 5.53 0 0 0 8 0zm-.5 8.5v4.5a.5.5 0 0 0 1 0v-4.5H10a.5.5 0 0 0 .354-.854l-2-2a.5.5 0 0 0-.708 0l-2 2A.5.5 0 0 0 6 8.5h1.5z"/>
        </svg>
        <p class="mb-2 text-secondary"><strong>Click to upload</strong> or drag and drop</p>
        <p *ngIf="uploadStatus$ | async as status" class="text-muted">{{ status }}</p>
        <p class="text-muted">{{ selectedFile?.name }}</p>
        <button class="btn btn-dark mt-3" (click)="upload()">Upload</button>
      </div>
      <input (change)="onFileChange($event)" id="dropzone-file" type="file" class="d-none"/>
    </label>
  </div>
  <!-- Drop zone for image - END -->

  <div class="d-flex flex-wrap justify-content-center gap-3 w-100">
    <!-- Display images and provide delete buttons -->
    <ng-container *ngIf="images$ | async as imageData">
      <div *ngFor="let imgName of imageData.images" class="d-flex flex-column align-items-center">
        <img [src]="getImageByName.getImageUrl(imgName)" class="img-fluid border border-danger mb-2" alt="Image" style="max-height: 160px;"/>
        <button (click)="deleteImage(imgName)" class="btn btn-danger w-100">Delete</button>
      </div>
    </ng-container>

    <!-- Display loading spinner -->
    <p *ngIf="loading" class="w-100 text-center">Loading...</p>
    <p *ngIf="error" class="w-100 text-center text-danger">{{ error }}</p>
  </div>

</div>
