<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle" #naviToggle>

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon"></span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          Domov
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/hipnoterapija" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          Hipnoterapija
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/samohipnoza" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          Samohipnoza
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/regresija" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          Regresija
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/jasnovidnost" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          Jasnovidnost
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/medijstvo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          Medijstvo
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          Blog
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/omeni" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          O meni
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/dogodki" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          Dogodki
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/galerija" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          Galerija
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/kontakt" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          Kontakt
        </a>
      </li>
      <li class="navigation__item" *ngIf="!isLoggedIn">
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link"
           (click)="closeNavigationMenu()">
          LogIn
        </a>
      </li>
      <li class="navigation__item" *ngIf="isLoggedIn">
        <a (click)="logOut()" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation__link">
          LogOut
        </a>
      </li>
    </ul>
  </nav>
</div>
