<h1 class="text-center pt-5" style="font-size: 2rem;">Kontaktirajte me</h1>

<div class="container pt-5">
  <form class="shadow p-2 bg-white" [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <div class="row">

      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Ime</mat-label>
          <input type="text" formControlName="name" required matInput>
          <mat-hint *ngIf="emailForm.get('name')?.invalid && (emailForm.get('name')?.touched || emailForm.get('name')?.dirty)" align="end">
            Name is required
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Priimek</mat-label>
          <input type="text" formControlName="surname" required matInput>
          <mat-hint *ngIf="emailForm.get('surname')?.invalid && (emailForm.get('surname')?.touched || emailForm.get('surname')?.dirty)" align="end">
            Surname is required
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Vaš email naslov</mat-label>
          <input type="text" formControlName="email" required matInput>
          <mat-hint *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.touched || emailForm.get('email')?.dirty)" align="end">
            Valid email is required
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <angular-editor formControlName="content" [config]="editorConfigClient" required></angular-editor>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-danger w-100" [disabled]="emailForm.invalid" type="submit">Pošljite elektronsko sporočilo</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="spinner">
  <app-spinner></app-spinner>
</div>
