<div class="container-fluid text-center space-breadcrumb-bg p-2 py-md-5">
  <div class="container text-white fw-bold">
    <h1 class="mb-1 fs-2">{{ hero?.naslov }}</h1>
    <p>
      <a class="text-warning" routerLink="/">Domov</a>
      <span *ngIf="hero?.blog">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-right" width="18" height="18" viewBox="0 0 24 24"
             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M7 7l5 5l-5 5"></path>
          <path d="M13 7l5 5l-5 5"></path>
        </svg>
        <a class="text-warning" routerLink="/blog">{{hero?.blog}}</a></span>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-right" width="18" height="18" viewBox="0 0 24 24"
           stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M7 7l5 5l-5 5"></path>
        <path d="M13 7l5 5l-5 5"></path>
      </svg>
      <span [innerHTML]="hero?.path | firstLetterCapitald"></span>
    </p>
  </div>


</div>

