<app-hero-dashboard [hero]="heroData"></app-hero-dashboard>
<div class="container-fluid bg-white">
  <div class="container">
    <ng-container *ngIf="mediji">
      <div class="text-center top-bottom-padding">
        <span class="heading-primary-description-black">{{ mediji['naslov_mediji'] }}
        </span>
      </div>

      <p>{{ mediji['opis_mediji'] | formatText }}</p>
      <p [innerHTML]="mediji['povezava_mediji']"></p>
      <p [innerHTML]="mediji['povezava_slika']"></p>
    </ng-container>
  </div>
</div>
<app-go-back></app-go-back>
