<h1 class="text-center pt-5" style="font-size: 2rem">Admin</h1>

<div class="container">
  <div class="card-group p-2 p-md-5 gap-5">

    <div class="card shadow pt-3 border-0 text-center" routerLink="/blog-pregled">
      <div class="card-body">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-3 icon-tabler icon-tabler-star" width="40" height="40" viewBox="0 0 24 24"
             stroke-width="2"
             stroke="orange" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
        </svg>
        <h2 class="card-title">Blog</h2>
        <p class="card-text">Pregled objav in urejanje ter dodajanje ali brisanje novih blogov.</p>
      </div>
      <div class="card-footer bg-dark border-0 text-end d-flex justify-content-end align-content-center">
        <small class="text-white">
          Naprej
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-badge-right" width="24" height="24" viewBox="0 0 24 24"
               stroke-width="2" stroke="orange" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M13 7h-6l4 5l-4 5h6l4 -5z"></path>
          </svg>
        </small>
      </div>
    </div>

    <div class="card shadow pt-3 border-0 text-center" routerLink="/mediji-pregled">
      <div class="card-body">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-3 icon-tabler icon-tabler-star" width="40" height="40" viewBox="0 0 24 24"
             stroke-width="2"
             stroke="orange" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
        </svg>
        <h2 class="card-title">V medijih</h2>
        <p class="card-text">Pregled medijev in urejanje ter dodajanje ali brisanje novih medijev.</p>
      </div>
      <div class="card-footer bg-dark border-0 text-end d-flex justify-content-end align-content-center">
        <small class="text-white">
          Naprej
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-badge-right" width="24" height="24" viewBox="0 0 24 24"
               stroke-width="2" stroke="orange" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M13 7h-6l4 5l-4 5h6l4 -5z"></path>
          </svg>
        </small>
      </div>
    </div>

    <div class="card shadow pt-3 border-0 text-center" routerLink="/events-pregled">
      <div class="card-body">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-3 icon-tabler icon-tabler-star" width="40" height="40" viewBox="0 0 24 24"
             stroke-width="2"
             stroke="orange" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
        </svg>
        <h2 class="card-title">Dogodki</h2>
        <p class="card-text">Pregled dogodkov in urejanje ter dodajanje ali brisanje novih dogotkov.</p>
      </div>
      <div class="card-footer bg-dark border-0 text-end d-flex justify-content-end align-content-center">
        <small class="text-white">
          Naprej
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-badge-right" width="24" height="24" viewBox="0 0 24 24"
               stroke-width="2" stroke="orange" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M13 7h-6l4 5l-4 5h6l4 -5z"></path>
          </svg>
        </small>
      </div>
    </div>

    <div class="card shadow pt-3 border-0 text-center" routerLink="/email-pregled">
      <div class="card-body">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-3 icon-tabler icon-tabler-star" width="40" height="40" viewBox="0 0 24 24"
             stroke-width="2"
             stroke="orange" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
        </svg>
        <h2 class="card-title">Email</h2>
        <p class="card-text">Pregled elektronskih sporočil in urejanje ter dodajanje ali brisanje novih emailov.</p>
      </div>
      <div class="card-footer bg-dark border-0 text-end d-flex justify-content-end align-content-center">
        <small class="text-white">
          Naprej
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-badge-right" width="24" height="24" viewBox="0 0 24 24"
               stroke-width="2" stroke="orange" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M13 7h-6l4 5l-4 5h6l4 -5z"></path>
          </svg>
        </small>
      </div>
    </div>

  </div>
</div>
