<div *ngIf="blog">
  <h2>Uredi blog</h2>
  <form (submit)="editBlog()" class="example-form">
    <table class="example-full-width">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Naslov</mat-label>
            <input [(ngModel)]="blog.naslov" name="naslov" matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Podnaslov</mat-label>
            <input [(ngModel)]="blog.podnaslov" name="podnaslov" matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Kategorija</mat-label>
            <input [(ngModel)]="blog.tag" name="tag" matInput>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="example-full-width">
      <mat-label>Vsebina</mat-label>
      <textarea [(ngModel)]="blog.vsebina" name="vsebina" matInput
                style="height: 300px"></textarea>
    </mat-form-field>
    <button type="submit">Save Changes</button>
  </form>
</div>
<app-go-back></app-go-back>
